p {
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 1.2em;
    font-weight: lighter;
    font-weight: 800;
    line-height: 2em;
    padding-left: 3%
}

.repair {
    width: 70%;
    height: 70%;
}

a {
    display: block;
    margin: auto;
    color: #4d4d4d;
    text-align: center;
    font-family: 'sans-serif';
    text-decoration: none;
    font-weight: bold;
}

svg#brain {
    display: block;
    margin: auto;
    padding: 25px;
    width: 250px;
}

svg#brain .logo {
    opacity: 0;
    -webkit-animation: show-logo 0.75s ease 2s forwards;
    animation: show-logo 0.75s ease 2s forwards;
}

svg#brain #wireframe {
    -webkit-animation: hide-wireframe 0.5s linear 2s forwards;
    animation: hide-wireframe 0.5s linear 2s forwards;
}

svg#brain #wireframe>path {
    fill: none;
    stroke: #4d4d4d;
    stroke-width: 5;
    stroke-linecap: round;
    stroke-linejoin: bevel;
    stroke-miterlimit: 10;
}

svg#brain #nerouns {
    fill: #4d4d4d;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-animation: show-nerouns 4s 2.5s infinite;
    animation: show-nerouns 4s 2.5s infinite;
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

svg#brain #colors .st2 {
    fill: #2e89e6;
}

svg#brain #colors .st3 {
    fill: #297bcc;
}

svg#brain #colors .st4 {
    fill: #39f;
}

svg#brain #colors .st5 {
    fill: #409fff;
}

svg#brain #colors .st6 {
    fill: #4da5ff;
}

svg#brain #colors .st7 {
    fill: #2c82d9;
}

svg#brain #colors .st8 {
    fill: #3091f2;
}

svg#brain #glossy {
    fill: #b3d9ff;
}

@-webkit-keyframes show-logo {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes show-logo {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes hide-wireframe {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes hide-wireframe {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes show-nerouns {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.6);
        transform: scale(0.6);
    }

    8% {
        opacity: 1;
        -webkit-transform: scale(1.15);
        transform: scale(1.15);
    }

    13% {
        opacity: 1;
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    17% {
        -webkit-transform: scale(1.04);
        transform: scale(1.04);
    }

    22% {
        -webkit-transform: scale(0.97);
        transform: scale(0.97);
    }

    25%,
    74% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    75% {
        -webkit-transform: scale(0.97);
        transform: scale(0.97);
    }

    80% {
        -webkit-transform: scale(1.04);
        transform: scale(1.04);
    }

    84% {
        opacity: 1;
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    87% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    90% {
        opacity: 0;
    }
}

@keyframes show-nerouns {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.6);
        transform: scale(0.6);
    }

    8% {
        opacity: 1;
        -webkit-transform: scale(1.15);
        transform: scale(1.15);
    }

    13% {
        opacity: 1;
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    17% {
        -webkit-transform: scale(1.04);
        transform: scale(1.04);
    }

    22% {
        -webkit-transform: scale(0.97);
        transform: scale(0.97);
    }

    25%,
    74% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    75% {
        -webkit-transform: scale(0.97);
        transform: scale(0.97);
    }

    80% {
        -webkit-transform: scale(1.04);
        transform: scale(1.04);
    }

    84% {
        opacity: 1;
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    87% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    90% {
        opacity: 0;
    }
}

.mindheader{
    font-family: 'Abril Fatface',
    cursive;
    font-size: 70px;
    font-weight: bold;
}

.dailyheader {
    font-family: 'Abril Fatface',
        cursive;
    font-size: 80px;
    font-weight: bold;
    color: white;
}