/* FONTS */
@import url("https://fonts.googleapis.com/css?family=Boogaloo");
@import url("https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister");

body {
  width: 100% !important;
  height: 100%;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.l-page {
  background: url("./img/backgroundmonamie.jpg");
  overflow: hidden;
}

.d-word {
  background: url("./img/black-board.jpg");
  font-size: 30px;
}

.s-time {
  background: url("./img/monamiehills.jpg");
}

.l-page,
.d-word,
.s-time,
.bg-light-success {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  font-family: "Love Ya Like A Sister", cursive;
}

.l-center {
  position: relative;
  top: 40%;
  left: 35%;
}

.bg-orange {
  background: orange;
}

.bg-light-success {
  background: rgb(182, 241, 94);
  padding-bottom: 70px;
}

.l-ul {
  font-size: 24px;
}

.l-ul ul {
  list-style-type: none;
  margin-left: 4em;
}
